@import 'src/styles/scss/buttons';

::ng-deep .ck-editor__editable,
::ng-deep .ck-content {
  min-height: 200px;
}

::ng-deep .ck-editor__editable ul,
::ng-deep .ck-content ul,
::ng-deep .ck-editor__editable ol,
::ng-deep .ck-content ol {
  margin-left: 20px;
}

::ng-deep .ck-editor__editable ul li,
::ng-deep .ck-content ul li {
  list-style-type: square;
}

::ng-deep .ck-editor__editable ol li,
::ng-deep .ck-content ol li {
  list-style-type: decimal;
}

.error-messages {
  margin-top: calc(2rem / 3);

  p {
    color: $color-danger;
    font-size: 0.8rem;

    &::before {
      content: url('/assets/images/icons/error.svg');
      display: inline-block;
      margin-right: calc(1rem / 3);
    }
  }
}
