<button
  [type]="buttonType"
  [class]="[
    'btn',
    'btn-' + color,
    'btn-' + shape,
    'btn-' + size,
    'd-flex',
    'justify-content-center',
    'align-items-center'
  ]"
  [disabled]="isDisabled"
>
  <ng-container [ngSwitch]="iconName">
    <i *ngSwitchCase="'back'" [class]="['text-' + textColor]" class="navigate-back fas fa-arrow-left"></i>
    <i *ngSwitchCase="'next'" class="order-1 navigate-next fas fa-arrow-right"></i>
    <i *ngSwitchCase="'search'" class="fas fa-search"></i>
    <i *ngSwitchCase="'chevron-left'" class="fas fa-chevron-left"></i>
    <ng-container *ngIf="iconName">
      <img *ngSwitchDefault class="social" src="assets/images/button-icons/{{ iconFilesMap[iconName] }}" />
    </ng-container>
  </ng-container>
  <span class="btn-text" [class]="['text-' + textColor, 'text-' + textWeight]">
    <ng-content></ng-content>
  </span>
</button>
