@import '../breakpoints';

.modal-dialog {
  &-success {
    width: 600px;
    height: 400px;
  }

  &-edit-avatar {
    width: 50%;
  }

  &-mail-subscription {
    width: 750px;
    height: 500px;
  }
}

@include media-breakpoint-down(xs) {
  .modal-dialog-success,
  .modal-dialog-edit-avatar,
  .modal-dialog-mail-subscription {
    margin: 0;
    width: 100vw !important;
    max-width: 100vw !important;
    height: 100vh;
  }
}

.modal-backDrop {
  background-color: rgb(76, 97, 118, 0.9);
}
