@import 'src/styles/scss/buttons';

.hide-input {
  width: 0.1px;
  height: 0.1px;
  visibility: hidden;
}

.error-messages {
  margin-top: calc(2rem / 3);

  p {
    color: $color-danger;
    font-size: 0.8rem;

    &::before {
      content: url('/assets/images/icons/error.svg');
      display: inline-block;
      margin-right: calc(1rem / 3);
    }
  }
}
