<div [formGroup]="parentForm" [class.has-error]="formControl.invalid && formControl.touched" class="w-100">
  <ng-select
    [class]="['custom', 'background-' + backGroundColor]"
    [items]="items"
    [multiple]="multiSelect"
    [labelForId]="controlName"
    [searchable]="canSearch"
    [bindValue]="bindValue"
    [bindLabel]="bindLabel"
    [placeholder]="placeholderValue"
    [formControlName]="controlName"
    [closeOnSelect]="closeAfterSelect"
    [searchFn]="searchFunction"
    [clearable]="canClear"
    [selectableGroup]="selectableGroup"
    [selectableGroupAsModel]="false"
    [groupBy]="groupBy"
    (change)="onChangeSelect($event)"
  >
    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
      <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone: true }" />
      {{ item.category | uppercase }}
    </ng-template>
    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
      <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" [ngModelOptions]="{ standalone: true }" />
      &nbsp;<i
        *ngIf="item.category && item.category !== 'location'"
        [ngClass]="item.icon || 'fas fa-code'"
        class="colored"
      >
      </i>
      {{ item.name || item[bindLabel] }}
    </ng-template>
  </ng-select>
  <div *ngIf="errorMessageKeys && formControl.errors && formControl.touched" class="error-messages">
    <p *ngFor="let messageKey of errorMessageKeys" [hidden]="!formControl.errors[messageKey]">
      {{ errorMessages[messageKey] | transloco }}
    </p>
  </div>
</div>
