.no-item-icon {
  font-size: 112px;
  position: relative;
  color: #a2b2cfba;
  padding: 4px;
  margin: 18% auto;
  display: inherit;
  transform: rotate(20deg);
  height: 115px;
  width: 115px;
}

.no-item-bell-text {
  font-size: 22px;
  color: #a2b2cfba;
  padding: 10px;
  font-weight: 500;
}
